.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  min-width: 180px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo-container h2 {
  margin: 0;
  font-family: 'Playwrite GB S Guides', cursive;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-links {
  width: 50%;
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .navigation {
    height: 60px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .logo-container {
    width: 50px;
    padding: 0;
  }

  .nav-links {
    width: 80%;
  }
}