.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.title {
  font-family: "Josephin Sans", Arial, sans-serif;
  font-weight: 200;
  font-size: 35px;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}