.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s ease;

  &:hover {
    color: #d4a373;
    transform: scale(1.1);
  }
}

.item-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #3e2723;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}